body {
    margin: 0px;
   
}
body p li a h2 button {
    
    font-family:'Arial Narrow Bold';
}

#div_menu {
    padding: 5px;
    background-image: url(imagens/background.jpg);
    height:600px ;
    background-size: cover
}

.flex{
    display: flex;
}

.empresa-logo{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 60px;
    color: white;
}

.margem-menu{
    margin-left: 30px;
}

.font_large{
    font-size: 30px;
}

.margin_top_menu{
    margin-top: 100px;
}
#texto{

    font-size: 3em;
}

.white{
    color: white;
}

#btn_login a{
    color: black;
}
#btn_login{


    width: 150px;
    height:40px;
    background-color:white;
    border: none;
    border-color: white;
    color:black;
    font-size: 1.2em;
}

#btn_cadastrar{
    width: 150px;
    height:40px;
    background-color: transparent;
    border: solid, 1px;
    border-color: white;
    color: white;
    font-size: 1.2em;
}

.btn_imagem{
    background-color:transparent;
    color: black;
    width: 30%;
    border: none;
    margin: 13px;
}

.btn_imagem a{
    text-decoration: none;
}

.margem_bottom_imagem{
    margin-bottom: 30px;
}

#rodape{
    margin-bottom: 0px;
    width:100%;
    background-color:transparent;
    color:black;
    font-size: 14px;
}

#sobre{
    display: none;
    width: 90%;
    border: 8px solid #030f38;
    background-color: #0090ff;
    margin-left: 20px;
    padding: 5px;
    color: white;
    font-size: 1.5em;
    height: 300px;
    border-radius: 30px;
    text-align: center;
    opacity: 0.9;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

#btn_cadastrar a:visited{
    text-decoration: none;
    color: #fff;
}